HTTP_HOST="127.0.0.1"
HTTP_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME="dbname"
DB_USERNAME="username"
DB_PASSWORD="pass"

FIRST_OPERATOR_BASE_URL="https://api.first-operator.ir"
FIRST_OPERATOR_API_KEY="api-key"
FIRST_OPERATOR_TIMEOUT=10s

RABBITMQ_HOST="127.0.0.1"
RABBITMQ_PORT=5672
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"
RABBITMQ_HEARTBEAT=10s
RABBITMQ_DIAL_TIMEOUT=30s
RABBITMQ_PREFETCH_COUNT=1
